* {
  margin: 0;
  padding: 0;
}
.functionContainer {
  font-family: Arial, Helvetica, sans-serif;
  width: 70%;
  height: 30vh;
  margin: 0 auto;
  border: 1px solid black;
  text-align: center;
}
h1 {
  text-align: center;
  margin: 10px 10px 20px 10px;
}
#btnGenerate {
  position: absolute;
  top: 130px;
  right: 650px;
  font-size: 17px;
  padding: 5px 10px;
  cursor: pointer;
  background-color: rgb(47, 85, 255);
  color: white;
  border: none;
  border-radius: 5px;
}
#btnGenerate:hover {
  background-color: rgb(14, 36, 131);
}
#btnReset {
  position: absolute;
  top: 130px;
  right: 530px;
  font-size: 17px;
  padding: 5px 10px;
  cursor: pointer;
  background-color: rgb(47, 85, 255);
  color: white;
  border: none;
  border-radius: 5px;
}
#btnReset:hover {
  background-color: rgb(14, 36, 131);
}
input[type="number"] {
  padding: 5px;
}
.outputContainer {
  width: 80%;
  height: 65vh;
  margin: 0 auto;
  margin-top: 20px;
  border: 1px solid gray;
}
#box {
  position: absolute;
  top: 240px;
  left: 530px;
}
